@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.dark .quill>.ql-container>.ql-editor.ql-blank::before {
  color: #a1a1aa;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
  color: 64748b;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.ql-editor p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.ql-editor {
  min-height: 55vh;
}

@keyframes pop-up {
  0% {
    transform: translateY(80%);
    opacity: 0;
  }

  60% {
    transform: translateY(-10px);
    opacity: 1;
  }

  80% {
    transform: translateY(5px)
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  20% {
    transform: scaleY(1);
  }

  25% {
    transform: scaleY(0.1);
  }

  30% {
    transform: scaleY(1);
  }
}

@keyframes blink-fancy {

  0%,
  25%,
  28.33%,
  45%,
  48.33%,
  51.67%,
  93.33%,
  96.67% {
    transform: scaleY(1);
  }

  26.67%,
  46.67%,
  50%,
  95% {
    transform: scaleY(0.1);
  }
}

@keyframes looky-loo {

  0%,
  42.31%,
  50%,
  69.23%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  7.69%,
  23.08% {
    transform: translate3d(-5px, 0, 0);
  }

  26.92%,
  38.46% {
    transform: translate3d(5px, 0, 0);
  }

  53.85%,
  65.38% {
    transform: translate3d(0, -10px, 0);
  }
}

@keyframes looky-loo-ears {

  0%,
  42.31%,
  50%,
  69.23%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  7.69%,
  23.08% {
    transform: translate3d(3px, 0, 0);
  }

  26.92%,
  38.46% {
    transform: translate3d(-3px, 0, 0);
  }

  53.85%,
  65.38% {
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes looky-loo-beard {

  50%,
  69.23%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  53.85%,
  65.38% {
    transform: translate3d(0, -10px, 0);
  }
}

@keyframes cloud-right {
  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloud-left {
  50% {
    transform: translateX(-8px);
  }

  100% {
    transform: translateX(0);
  }
}

circle.blinking-eyes {
  animation: blink-fancy 6s linear infinite;
}

#Dave {
  animation: pop-up 1s ease-in-out 1;
}

#Eyes,
#unibrow,
#moustache,
#Blush {
  animation: looky-loo 13s ease-in-out infinite;
  animation-delay: 2s;
}

#Ears {
  animation: looky-loo-ears 13s ease-in-out infinite;
  animation-delay: 2s
}

#beard-lower,
#beard-innershadow,
#Neck-Innershadow {
  animation: looky-loo-beard 13s ease-in-out infinite;
  animation-delay: 2s;
}

#cloud-right {
  animation: cloud-right 5s ease-in-out infinite;
}

#cloud-left {
  animation: cloud-left 5s ease-in-out infinite;
  animation-delay: 1s
}

#easter-egg {
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

svg:hover #easter-egg {
  opacity: 1;
  transition: all 0.1s ease-in-out;
}